Language: Cpp
AccessModifierOffset: -3
AllowShortCaseLabelsOnASingleLine: true
AlignTrailingComments: false
AllowAllConstructorInitializersOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
ColumnLimit: 0
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
FixNamespaceComments: false
IndentWidth: 3
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SpaceAfterTemplateKeyword: false
TabWidth: 3
