# CMake
CMakeFiles/
Debug/
Release/
*.cmake
CMakeCache.txt

# Linux
.vs/
covhtml/
*.o
*.a
*.gch*
*.dot
*.plist
*.gch
*.swp
*.profraw
*.profdata
build.ninja
rules.ninja
.ninja_deps
.ninja_log
Makefile

# Windows
x64/
*.dir/
RelWithDebInfo/
*.sln
!ZenUnitPy/ZenUnitPy.sln
*.exe
*.ilk
*.obj
*.tlog
*.pch
*.cache
*.lib
*.vcxproj
*.filters
*.user
*.stamp
*.depend
*.db
*.opendb
*.ipch
*.psess
*.vsp
*.vspx
install_manifest.txt

# Python
__pycache__/
htmlcov/
*,cover
*.xml
*.pyc
*.coverage
