# CMake
CMakeFiles/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt

# Python
__pycache__/
htmlcov/
*.cover
*.coverage
*.pyc
*.xml

# Linux
.vs/
covhtml/
*.a
*.dot
*.gch
*.gch*
*.i
*.o
*.plist
*.profdata
*.profraw
*.swp
.ninja_deps
.ninja_log
build.ninja
rules.ninja
Makefile

# Windows
*.dir/
x64/
Win32/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
*.cache
*.dat
*.db
*.depend
*.filters
*.exe
*.obj
*.htm
*.ilk
*.ipch
*.lib
*.opendb
*.pch
*.psess
*.sln
!ZenUnitPy/ZenUnitPy.sln
*.stamp
*.tlog
*.user
*.vcxproj
*.vsp
*.vspx
install_manifest.txt

