# CMake
CMakeFiles/
*.cmake
!CMakeMacros.cmake
CMakeCache.txt

# Python
__pycache__/
CodeCoverageHTMLReport/
htmlcov/
*.cover
*.coverage
*.pyc
*.xml

# Linux
covhtml/
*.a
*.dot
*.gch
*.gch*
*.i
*.o
*.plist
*.profdata
*.profraw
*.swp
.ninja_deps
.ninja_log
build.ninja
callgrind.out.*
callgrind_results.txt
heaptrack.ZenUnitUtilsAndAssertionTests.*.zst
rules.ninja

# Windows
.vs/
*.dir/
x64/
Win32/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
*.cache
*.dat
*.db
*.depend
*.filters
*.exe
*.obj
*.htm
*.ilk
*.ipch
*.lib
*.opendb
*.pch
*.psess
*.sln
!ZenUnitDevOpsPython.sln
*.stamp
*.tlog
*.user
*.vcxproj
*.vsp
*.vspx
install_manifest.txt

# Cppcheck
*.a1
*.a2
*.a3
*.a4
*.a5
*.a6
*.a7
*.a9
*.a11
*.a13
*.diagsession
*.s2
*.s4
*.s6
*.s8
*.s10
*.s12
*.s14
Cppcheck/files.txt
cppcheck_results.txt

# VTune
GPUCache/
VTune Profiler Results/
debug.log
