shallow_clone: true

image:
    - Visual Studio 2019 Preview

environment:
   matrix:
      - generator: "Visual Studio 16 2019"

platform:
   - x64
   - Win32

configuration:
   - Debug
   - Release

before_build:
   - cmake -A %platform% -G "%generator%" .

build_script:
   - cmake --build . --config %configuration% -- /m

