[FORMAT]
indent-string='   '
max-line-length=105

[MASTER]
disable=line-too-long,protected-access,missing-docstring,wrong-import-position,too-many-arguments,duplicate-code,invalid-name,bad-continuation,no-self-use,no-value-for-parameter,missing-final-newline,trailing-whitespace,too-few-public-methods,no-method-argument,bad-whitespace,unused-argument,no-member

[REPORTS]
output-format=text
reports=no
